<p id="notice"><%= notice %></p>

<h1>Volební výsledky - <%= @election_protocol.election.title %></h1>
<% if @election_protocol.election.state != 'votes_counted' then %>
    <div class="alert alert-warning">
        Volby ještě nebyly vyhodnoceny
    </div>
<% else %>
    <strong>Typ:</strong><%=t "election_type.#{@election_protocol.election.election_type}" %><br>
    <strong>Působnost:</strong> <%= election_scope_name(@election_protocol.election) %><br>
    <strong>Hlasování:</strong> od <%= format_date @election_protocol.election.voting_starts_at %> do <%= format_date @election_protocol.election.voting_ends_at %><br>
    <h2>Výsledky</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>kandidát</th>
            <th>PRO</th>
            <th>PROTI</th>
        </tr>
        <% @election_protocol.results.each do |candidate_id, votes| %>
            <tr>
                <td><%= @election_protocol.election.candidate_list.candidates.find(candidate_id).full_name %></td>
                <td>
                    <strong>Počet hlasů:</strong> <%= votes[:for].length %><br>
                    <strong>Hlasy:</strong>
                    <% votes[:for].each do |vote_hash| %>
                        <pre><%= vote_hash %></pre>
                    <% end %>
                </td>
                <td>
                    <strong>Počet hlasů:</strong> <%= votes[:against].length %><br>
                    <strong>Hlasy:</strong>
                    <% votes[:against].each do |vote_hash| %>
                        <pre><%= vote_hash %></pre>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>