<p id="notice"><%= notice %></p>

<h1>Ballot Boxes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ballot_boxes.each do |ballot_box| %>
      <tr>
        <td><%= link_to 'Show', ballot_box %></td>
        <td><%= link_to 'Edit', edit_ballot_box_path(ballot_box) %></td>
        <td><%= link_to 'Destroy', ballot_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ballot Box', new_ballot_box_path %>
