<h1>Administrace voleb</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Typ</th>
      <th>Název</th>
      <th>Popis</th>
      <th>Působnost</th>
      <th>Přihlašování kandidátů</th>
      <th>Hlasování</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @elections.each do |election| %>
      <tr>
        <td><%=t "election_type.#{election.election_type}" %></td>
        <td><%= election.title %></td>
        <td><%= election.description %></td>
        <td>
          <% case election.scope_type %>
            <% when 'general' then %>
              Celorepublikové
            <% when 'region' then %>
              Krajské / <%= Region.find(election.scope_id_region).name %>
          <% end %>
        </td>
        <td>
          <% if election.has_preparation_phase? %>
            <strong>od</strong> <%= format_date election.preparation_starts_at %> <strong>do</strong> <%= format_date election.preparation_ends_at %>
          <% else %>
            <%= fa_icon 'times' %>
          <% end %>
        </td>
        <td>
          <strong>od</strong> <%= format_date election.voting_starts_at %> <strong>do</strong> <%= format_date election.voting_ends_at %>
        </td>
        <td><%= link_to 'Volební urna', election.ballot_box, {:class => 'btn btn-primary'} %>
        <% if election.state = 'votes_counted'%><%= link_to 'Volební protokol', election.ballot_box, {:class => 'btn btn-primary'}  %><% end %>
        <%= link_to 'Kandidátní listina', election.candidate_list, {:class => 'btn btn-primary'}  %>
        <%= link_to 'Detaily voleb', election, {:class => 'btn btn-primary'}  %>
        <%= link_to 'Hlasovat', new_ballot_paper_path(:election => election), {:class => 'btn btn-primary'}  %>
        <%= link_to 'Vyhodnotit volby', "elections/#{election.id}/count_votes", {:class => 'btn btn-primary'}  %>
        <%= link_to 'Zrušit volby', election, { method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary'}  %>

      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="7" class="info">
          Seznam voleb je prázdný
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
