<h1>Administrace voleb</h1>

<table border="1">
  <thead>
    <tr>
      <th>Election type</th>
      <th>State</th>
      <th>Title</th>
      <th>Description</th>
      <th>Scope type</th>
      <th>Scope id region</th>
      <th>Preparation starts at</th>
      <th>Preparation ends at</th>
      <th>Voting starts at</th>
      <th>Voting ends at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elections.each do |election| %>
      <tr>
        <td><%= election.election_type %></td>
        <td><%= election.state %></td>
        <td><%= election.title %></td>
        <td><%= election.description %></td>
        <td><%= election.scope_type %></td>
        <td><%= election.scope_id_region %></td>
        <td><% if election.has_preparation_phase? %><%= election.preparation_starts_at %><% end %></td>
        <td><% if election.has_preparation_phase? %><%= election.preparation_ends_at %><% end %></td>
        <td><%= election.voting_starts_at %></td>
        <td><%= election.voting_ends_at %></td>
        <td><%= link_to 'Volební urna', election.ballot_box, {:class => 'btn btn-primary'} %>
        <% if election.state = 'votes_counted'%><%= link_to 'Volební protokol', election.ballot_box, {:class => 'btn btn-primary'}  %><% end %>
        <%= link_to 'Kandidátní listina', election.candidate_list, {:class => 'btn btn-primary'}  %>
        <%= link_to 'Detaily voleb', election, {:class => 'btn btn-primary'}  %>
        <%= link_to 'Hlasovat', new_ballot_paper_path(:election => election), {:class => 'btn btn-primary'}  %>
        <%= link_to 'Vyhodnotit volby', "elections/#{election.id}/count_votes", {:class => 'btn btn-primary'}  %>
        <%= link_to 'Zrušit volby', election, { method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-primary'}  %>

      </tr>
    <% end %>
  </tbody>
</table>
