<p>
  <strong>Election type:</strong>
  <%= @election.election_type %>
</p>

<p>
  <strong>State:</strong>
  <%= @election.state %>
</p>

<p>
  <strong>Title:</strong>
  <%= @election.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @election.description %>
</p>

<p>
  <strong>Scope type:</strong>
  <%= @election.scope_type %>
</p>

<p>
  <strong>Scope id region:</strong>
  <%= @election.scope_id_region %>
</p>

<p>
  <strong>Preparation starts at:</strong>
  <%= @election.preparation_starts_at %>
</p>

<p>
  <strong>Preparation ends at:</strong>
  <%= @election.preparation_ends_at %>
</p>

<p>
  <strong>Voting starts at:</strong>
  <%= @election.voting_starts_at %>
</p>

<p>
  <strong>Voting ends at:</strong>
  <%= @election.voting_ends_at %>
</p>

<p>
  <strong>Public key:</strong>
  <%= @election.public_key %>
</p>
<p>
  <strong>Private key:</strong>
  <%= @shown_private_key %>
</p>

<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
