<%= form_for(ballot_paper) do |f| %>
  <% if ballot_paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ballot_paper.errors.count, "error") %> prohibited this ballot_paper from being saved:</h2>

      <ul>
      <% ballot_paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Kandidát</th>
        <th>Hlasujete PRO/PROTI kandidátovi ?</th>
      </tr>
    </thead>

    <tbody>
      <% @election.candidate_list.candidates.each do |candidate| %>
        <tr>
          <td><%= candidate.full_name %></td>
          <td><%= radio_button_tag "choices[#{candidate.id}]", "for" %> PRO</td>
          <td><%= radio_button_tag "choices[#{candidate.id}]", "against", true %> PROTI</td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <%= hidden_field_tag "election", @election.id %>
          <%= link_to 'Hlasovat v jiných volbách', elections_path(state: :voting), {:class => 'btn btn-link pull-left'} %>
          <%= f.submit "Hlasovat", {:class => 'btn btn-primary pull-right'} %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
