<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a id="menu-toggle" class="menu-toggle" href="#menu-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i> 
      <span class="sidebar-nav-item-text">MENU</span>
    </a>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </li>
  <li>
    <a class="sidebar-nav-item" href="<%= elections_path(state: :voting) %>">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "angle-right" %>
      </span>
      <span class="sidebar-nav-item-text">Probíhající volby</span>
    </a>
  </li>
  <li>
    <a class="sidebar-nav-item" href="<%= elections_path(state: :preparation) %>">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "angle-right" %>
      </span>
      <span class="sidebar-nav-item-text">Přihlašování kandidátů</span>
    </a>
  </li>
  <li>
    <a class="sidebar-nav-item" href="<%= elections_path(state: :votes_counted) %>">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "angle-right" %>
      </span>
      <span class="sidebar-nav-item-text">Uplynulé volby</span>
    </a>
  </li>
  <li>
    <a class="sidebar-nav-item" href="<%= elections_path %>">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "angle-right" %>
      </span>
      <span class="sidebar-nav-item-text">Administrace voleb</span>
    </a>
  </li>
  <li>
    <a class="sidebar-nav-item" href="<%= new_election_path %>">
      <span class="sidebar-nav-item-icon">
        <%= fa_icon "angle-right" %>
      </span>
      <span class="sidebar-nav-item-text">Založit volby</span>
    </a>
  </li>
</ul>

